.time {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;

  label {
    font-size: 14px;
    padding: 5px 20px;
    flex-basis: 21.87305%;
    text-align: center;
    border: 2px solid #e6b7bb;
    border-radius: 5px;
    color: #e6b7bb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: #e6b7bb;
      color: #fff;
    }
  }

  .occupied {
    color: #a3a3a3;
    border: 2px solid #a3a3a3;
    cursor: not-allowed;

    &:hover {
      background: transparent;
      color: #a3a3a3;
    }
  }

  input[type="radio"] {
    appearance: none;
    display: none;
  }

  .checked {
    background: #e6b7bb;
    color: #fff;
  }
}

.note {
  padding: 10px;
  border: 2px solid #b48488;
  background: #e6b7bb;
  border-radius: 10px;

  .note-link {
    background: #fff;
    font-weight: 600;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 20px;
    margin-left: 10px;
    transition: .3s;

    &:hover {
      transform: scale(98%);
    }
  }
}