.fc-day {
  cursor: pointer;
  transition: .3s;

  @media(max-width: 767px) {
    height: 50px;
  }

  &:hover {
    background: #e6b7bb;
  }
}

:root {
  --fc-today-bg-color: #ffe4e7;
}

.marked-date {
  background: #e6b7bb;
}

.fc .fc-scrollgrid-section-liquid>td {
  padding: 0px !important;
}

.calendar {
  table td {
    padding: 0px !important;
  }
}

.fc-col-header {
  width: 100%;
  margin-bottom: 0px;
}

table thead {
  .fc-scroller {
    overflow-y: hidden !important;
  }

  th {
    padding: 0px !important;
  }
}

.fc .fc-scroller-liquid-absolute {
  overflow-x: hidden !important;
}

.hover-modal.active {
  background: #fff;
  padding: 10px;
  box-shadow: 3px 3px 6px #000;
  position: absolute;
  border-radius: 10px;
}

#show-calendar {
  display: block;
  padding: 20px;
  cursor: pointer;
  background: #f96b39;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  transition: .3s;
  color: #fff;

  &:hover {
    opacity: .7;
  }
}