.admin-nav ul>li>a.logout-btn-wrap {
  width: 100%;
  display: flex;
  align-items: center;

  input[type="submit"] {
    appearance: none;
    border: none;
    background: transparent;
    padding: 0px;
    flex-grow: 1;
    cursor: pointer;
  }
}

.movietelle-loader {
  width: 50px;
}

.searchbox {
  width: 20%;

  input[type="text"] {
    height: 100%;
  }
}

.params {
  // width: 16%;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-right: none;
  display: flex;
  align-items: center;
  flex-grow: 1;

  select {
    width: 100%;
    appearance: none;
    padding: 10px 12px;
    border: 0;
  }

  button,
  a {
    appearance: none;
    border: 0;
    border-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px 12px;
    background: #d2a09f;
    color: #fff;
  }

  input[type="date"] {
    border: 0;
    appearance: none;
    display: block;
    width: 100%;
    padding: 10px 12px;
    background: #fff;
  }

  label {
    white-space: nowrap;
    margin-bottom: 0px;
    padding: 10px 12px;
  }

  .reset {
    background: #6f6f6f;
  }
}